.git
.tox
**/data
**/logs
**/*sublime*
**/.vscode
**/__pycache__
**/*.egg-info
**/*.pyc
**/*.log
**/__pycache__/
**/.cache
**/*.egg-info/
**/venv/
**/.tox/
**/*.log*
**/databases-prod.json
**/.aws.env
**/.coveragerc
**/.pytest_cache
